* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Locust Resistance';
    src: url("../../fonts/Locust Resistance.ttf");
}

body {
    color: #fff;
    background: url(../../img/bakugo.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    /*Css safari e chrome*/
    -moz-background-size: cover;
    /*Css firefox*/
    -ms-background-size: cover;
    /*Css IE não use mer#^@%#*/
    -o-background-size: cover;
    /*Css Opera*/
    font-family: 'Roboto', sans-serif;
}

#header {
    background: rgba(0, 0, 0, 0.975);
    color: #ffffff;
    cursor: default;
    height: 3.25em;
    line-height: 3.25em;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 10001;
}

#header>.logo {
    font-family: 'Locust Resistance';
    display: inline-block;
    left: 1.25em;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

#header>.logo a {
    font-size: 1.25em;
    color: #FFF;
    text-decoration: none;
}

.logo h1 {
    font-size: 120%;
}

#header>.logo a:hover {
    color: rgba(255, 255, 255, 0.65);
}

#header>a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    display: inline-block;
    padding: 0 0.75em;
    color: inherit;
    text-decoration: none;
    color: #FFF;
}

#header>a:hover {
    color: #f2f2f2;
}

#header.alt {
    -moz-animation: none;
    -webkit-animation: none;
    -ms-animation: none;
    animation: none;
    background-color: transparent;
    position: absolute;
    top: 1.5em;
}

#header.alt h1 {
    left: 2.5em;
}

.login-form {
    width: 340px;
    margin: 10% auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control,
.btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

.form-group > .fa-user {
    margin: -9% 5% auto;
    float: right;
}

.form-group > .fa-lock {
    float: right;
    margin: -9% 5% auto;
}

.form-group > .btn-primary {
    color: #fff;
    background-color: #775cb8;
    border-color: #ae4c7e;
}

.form-group > .btn-primary:hover {
    color: #fff;
    background-color: #6639d3;
    border-color: #ae4c7e;
}

@media (max-width:768px) {
    .logo {
        visibility: hidden;
    }
}