* {
    margin: 0;
    padding: 0;
}

body {}

#conteudo {
    height: 1050px;
    min-height: 600px;
    background-color: #1e1e22;
    color: #ffffff;
}

.conteudo1 {
    width: 25%;
    margin-top: 8%;
    text-align: justify;
    position: relative;
}

.conteudo1>.fa-calendar-alt {
    font-size: 300%;
    margin-left: 5%;
    color: #6b4be7;
}

.conteudo1>h5 {
    color: #6b4be7;
}

.conteudo2 {
    width: 25%;
    margin: -21.7% 0 0 37%;
    text-align: justify;
    position: relative;
}

.conteudo2>.fa-money-bill-alt {
    font-size: 300%;
    margin-left: 5%;
    color: #6b4be7;
}

.conteudo2>h5 {
    color: #6b4be7;
}

.conteudo3 {
    width: 25%;
    margin: -17.5% 0 0 72%;
    text-align: justify;
    position: relative;

}

.conteudo3>.fa-glasses {
    font-size: 300%;
    margin-left: 5%;
    color: #6b4be7;
}

.conteudo3>h5 {
    color: #6b4be7;
}

.conteudo4 {
    width: 25%;
    margin: 15% 0 0 0;
    text-align: justify;
    position: relative;
}

.conteudo4>.fa-book {
    font-size: 300%;
    margin-left: 5%;
    color: #6b4be7;
}

.conteudo4>h5 {
    color: #6b4be7;
}

.conteudo5 {
    width: 25%;
    margin: -19.5% 0 0 37%;
    text-align: justify;
    position: relative;
}

.conteudo5>.fa-users {
    font-size: 300%;
    margin-left: 5%;
    color: #6b4be7;
}

.conteudo5>h5 {
    color: #6b4be7;
}

.conteudo6 {
    width: 25%;
    margin: -19.5% 0 0 72%;
    text-align: justify;
    position: relative;
}

.conteudo6>.fa-newspaper {
    font-size: 300%;
    margin-left: 5%;
    color: #6b4be7;
}

.conteudo6>h5 {
    color: #6b4be7;
}

.mb-5 {
    margin-left: 40%;
}

@media (max-width: 991px) {
    .conteudo1 {
        width: 100%;
    }

    .conteudo2 {
        width: 100%;
        margin: 0;
    }

    .conteudo3 {
        width: 100%;
        margin: 0;
    }

    .conteudo4 {
        width: 100%;
        margin: 0;
    }

    .conteudo5 {
        width: 100%;
        margin: 0;
    }

    .conteudo6 {
        width: 100%;
        margin: 0;
    }

    .mb-5 {
        margin-left: 26%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .conteudo2 {
        margin: -28% 0 0 40%;
    }

    .conteudo3 {
        margin: -23% 0 0 75%
    }

    .conteudo5 {
        margin: -26% 0 0 40%;
    }

    .conteudo6 {
        margin: -26% 0 0 75%;
    }

    .mb-5 {
        margin-left: 35%;
    }
}

.page-footer {
    background-color: #111111;
    color: #ffffff;
}